* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;   /* centers content horizontally */
}

/* Navbar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 17vh;
  color: #363c44;
  position: relative;
}

.name {
  font-size: 2rem;
  color: black;
}

/* Nav links */
.nav-links ul {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 1.7rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-links li:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
  transition: all 0.3s ease;
}

/* Hamburger */
.menu-toggle {
  display: none;
  font-size: 2.2rem;
  cursor: pointer;
}

/* Intro Section */

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: 0rem 5rem 0 0;
}

.btnm {
    /* height: 2.5rem; */
    width: 8rem;
    padding: 1rem;
    border-radius: 4rem;
    background-color: #fff;
    font-size: 0.7rem;
    font-weight: 600;
    color: #2d2f31;
}

.btn-download {
    border: 1px solid #2d2f31;
}

.btn-download:hover {
    background-color: #2d2f31;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-contact {
    border: 1px solid #2d2f31;
    background-color: #2d2f31;
    color: #fff;
}

.btn-contact:hover {
    background-color: #030303;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 4.5rem;
    margin-top: 1rem;
}

.icons a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 17rem;
    margin-top: 0.5rem;
}

.role p {
    font-size: 1.75rem;
    color: #4B5563;
    font-weight: 500;
}

.hello p {
    font-size: 1rem;
    color: #4B5563;
    font-weight: 600;
}

.info-name p {
    font-size: 3rem;
    font-weight: 600;
}

.know-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.know {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #4B5563;
    text-align: center;
}

.about-me {
    font-size: 3rem;
    font-weight: 600;
}